.floating-buttons{
position:fixed;
right:20px;
bottom:80px;
display:flex;
flex-direction:column;
gap:15px;
z-index:999;
}

/* nút lên đầu */
.btn-top{
width:50px;
height:50px;
border-radius:50%;
border:none;
background:#f07c3a;
color:white;
font-size:20px;
cursor:pointer;
}

/* messenger */
.btn-messenger img{
width:50px;
height:50px;
border-radius:50%;
}

/* zalo */
.btn-zalo{
width:50px;
height:50px;
border-radius:50%;
background:#1a5bd7;
color:white;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;
font-weight:bold;
}