.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: linear-gradient(135deg, #d9a5b3, #c98ca1);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.05);
}

/* Menu container */
.nav-links {
  display: flex;
  gap: 35px;
}

/* Link style */
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  transition: 0.3s ease;
}

/* Hover underline effect */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.9;
}

.nav-links a:hover::after {
  width: 100%;
}
.login-btn {
  background: rgb(32, 107, 179);
  color: #166f96;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.login-btn:hover {
  background: #ffe6ec;
}