.food-form{
display:flex;
gap:10px;
margin-bottom:20px;
}

.food-form input{
padding:8px;
border-radius:6px;
border:1px solid #ddd;
}

.food-form button{
background:#ff4d6d;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
cursor:pointer;
}

.delete-btn{
background:red;
color:white;
border:none;
padding:6px 12px;
border-radius:5px;
cursor:pointer;
}